@font-face {
  font-family: 'MplusB';
  src: url("../font/MPLUS1p-Bold.ttf");
}

@font-face {
  font-family: 'MplusR';
  src: url("../font/MPLUS1p-Regular.ttf");
}

@font-face {
  font-family: 'MplusT';
  src: url("../font/MPLUS1p-Thin.ttf");
}

body {
  background-color: #202020;
  padding: 0;
  margin: 0;
}

section {
  width: 70vw;
  margin: 0 15vw;
  background-color: #202020;
}

@media screen and (max-width: 480px) {
  section {
    width: 95vw;
    margin: 0 5vw 0 0;
  }
}

section .topText {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

section .topText p {
  font-family: "MplusT";
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
  color: #dddddd;
  padding: 0 5px;
}

@media screen and (max-width: 480px) {
  section .topText p {
    font-size: 7.5vw;
  }
}

section .topText p::after {
  content: '';
  border-right: 3px solid;
  -webkit-animation: flashing 1.0s linear infinite;
          animation: flashing 1.0s linear infinite;
}

@-webkit-keyframes flashing {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1.0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1.0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section .title {
  font-family: "MplusT";
  text-align: center;
  padding: 10vw 10vw 5vw 10vw;
  font-size: 2.5vw;
  color: #FFFF44;
}

@media screen and (max-width: 480px) {
  section .title {
    font-size: 6.5vw;
  }
}

section .works {
  min-height: 50vh;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

section .works figure {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  width: 25%;
  height: auto;
  margin: 80px 2%;
  border-radius: 5% 5% 5% 5%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  section .works figure {
    width: 25%;
    margin: 20px 1%;
  }
}

section .works figure img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: 1.0s;
  transition: 1.0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  cursor: pointer;
}

section .works figure span {
  text-shadow: 1px 1px 2px #666666;
  position: absolute;
  top: 45%;
  color: #666666;
  font-family: "MplusR";
  font-size: 0.9vw;
  text-align: center;
  opacity: 0.0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

section .works figure span.woEC {
  top: 40%;
}

section .works figure:hover {
  -webkit-box-shadow: 0px 1px 10px 3px black;
          box-shadow: 0px 1px 10px 3px black;
}

section .works figure:hover img {
  -webkit-filter: grayscale(0%) blur(3px);
          filter: grayscale(0%) blur(3px);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

section .works figure:hover span {
  opacity: 1.0;
  color: #dddddd;
  text-shadow: 1px 1px 2px #202020;
}

section .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .skills dl {
  width: 50%;
  font-size: 1.2vw;
  color: #dddddd;
  font-family: "MplusT";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  section .skills dl {
    width: 80%;
    font-size: 4vw;
  }
}

section .skills dl dt {
  text-align: left;
  width: 20%;
  height: auto;
  margin: 10px 0;
  font-family: "MplusR";
}

section .skills dl dd {
  text-align: right;
  width: 80%;
  height: auto;
  margin: 10px 0;
}

section .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .profile img {
  min-width: 200px;
  width: 29%;
  margin: 0 2vw;
}

section .profile dl {
  min-width: 200px;
  width: 60%;
  font-size: 1.0vw;
  color: #dddddd;
  font-family: "MplusT";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  section .profile dl {
    width: 80%;
    font-size: 4vw;
  }
}

section .profile dl dt {
  width: 25%;
  height: auto;
  margin: 10px 0;
  font-family: "MplusR";
}

section .profile dl dd {
  width: 70%;
  height: auto;
  margin: 10px 0;
}

section .Contact {
  height: 100px;
  position: relative;
}

section .Contact p {
  font-family: "MplusT";
  text-align: center;
  vertical-align: middle;
  font-size: 1vw;
  color: #dddddd;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  section .Contact p {
    font-size: 3vw;
  }
}

section .Contact .penBox {
  position: relative;
  height: 100%;
  margin-top: 10vw;
}

section .Contact .penBox img {
  position: absolute;
  width: 18%;
  margin: 0 41%;
  bottom: -5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-animation: purpur 1.5s linear infinite;
          animation: purpur 1.5s linear infinite;
}

@media screen and (max-width: 480px) {
  section .Contact .penBox img {
    width: 30%;
    margin: 0 35%;
  }
}

@-webkit-keyframes purpur {
  0% {
    left: 0;
    right: 0;
  }
  35% {
    left: 0;
    right: 0;
  }
  45% {
    left: 1vw;
    right: -1vw;
  }
  55% {
    left: -1vw;
    right: 1vw;
  }
  65% {
    left: 0;
    right: 0;
  }
  100% {
    left: 0;
    right: 0;
  }
}

@keyframes purpur {
  0% {
    left: 0;
    right: 0;
  }
  35% {
    left: 0;
    right: 0;
  }
  45% {
    left: 1vw;
    right: -1vw;
  }
  55% {
    left: -1vw;
    right: 1vw;
  }
  65% {
    left: 0;
    right: 0;
  }
  100% {
    left: 0;
    right: 0;
  }
}

section .Contact .penBox img:hover {
  opacity: 1.0;
}

section .Contact .penBox p {
  position: absolute;
  font-size: 1vw;
  color: #dddddd;
  width: 40%;
  margin: 0 30%;
  bottom: 5px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  section .Contact .penBox p {
    font-size: 0.7vw;
  }
}

section .space {
  width: 100%;
  height: 50px;
}

aside {
  width: 15vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(99, 99, 0, 0.96);
  top: 0;
  left: 0;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  aside {
    width: 0;
  }
}

aside #asideImg {
  -webkit-filter: grayscale(90%) blur(6px);
          filter: grayscale(90%) blur(6px);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  height: 100vh;
  width: auto;
  opacity: 0.5;
  position: absolute;
  left: -20px;
  display: none;
}

aside .workBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  color: #dddddd;
  position: relative;
}

aside .workBox .workImg {
  display: none;
  width: 45%;
  max-width: 800px;
  min-width: 250px;
  vertical-align: center;
}

aside .workBox .workImg img {
  width: 100%;
}

aside .workBox .workImg .tubeBox {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
}

aside .workBox .workImg .tubeBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #202020 0.4vw solid;
}

aside .workBox .workCaption {
  width: 40%;
  max-width: 800px;
  min-width: 300px;
  display: none;
}

aside .workBox .workCaption .capTitle {
  text-align: center;
  font-size: 2vw;
  font-family: "MplusR";
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .capTitle {
    font-size: 5.5vw;
  }
}

aside .workBox .workCaption .capCatch {
  text-align: center;
  font-size: 1.2vw;
  font-family: "MplusT";
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .capCatch {
    font-size: 2.2vw;
  }
}

aside .workBox .workCaption .capAdd {
  font-size: 1vw;
  font-family: "MplusR";
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .capAdd {
    font-size: 2.2vw;
  }
}

aside .workBox .workCaption .capOverview {
  font-size: 1.1vw;
  font-family: "MplusT";
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .capOverview {
    font-size: 2.2vw;
    font-family: "MplusR";
  }
}

aside .workBox .workCaption .capSpace {
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .capSpace {
    height: 5px;
  }
}

aside .workBox .workCaption a {
  text-decoration: none;
  color: #FFFF44;
  border-bottom: 1px solid #FFFF44;
}

aside .workBox .workCaption .back {
  font-size: 1.2vw;
  position: absolute;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  aside .workBox .workCaption .back {
    font-size: 4.0vw;
    font-family: "MplusR";
    bottom: 8%;
  }
}

nav {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #666666;
}

@media screen and (max-width: 480px) {
  nav {
    width: 5vw;
    background-color: #7d7d00;
  }
}

nav .navBox {
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav .navBox a {
  text-decoration: none;
}

nav .navBox p {
  font-family: "MplusR";
  color: #202020;
  font-size: 1.5vw;
  margin: 2vh 4vw;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  nav .navBox p {
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 10vw 3vw;
    font-size: 3vw;
  }
}
/*# sourceMappingURL=main.css.map */